.SignIn-container {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
}
.SignIn-main {
  height: 380px;
  width: 400px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.SignIn-h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}
.SignIn-form {
  display: flex;
  flex-direction: column;
}
input[type="email"],
input[type="password"] {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;

  border-radius: 5px;
}
.SignIn-button {
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
}
.SignIn-button:hover {
  background: #218838;
}
.signup-message {
  text-align: center;
  margin-top: 27px;
  font-size: 17px;
}
.signup-link {
  color: #007bff;
  text-decoration: none;
}
.signup-link:hover {
  text-decoration: underline;
}
